<include file="public/layout"/>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>代理商管理</h3>
                <h5>代理商列表</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation"
         style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>代理商列表</li>
        </ul>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>代理商列表</h3>
                <h5>(共{$pager->totalRows}条记录)</h5>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
            <form class="navbar-form form-inline" id="search-form" action="" method="post"
                  onsubmit="return check_form();">
                <!--<input type="hidden" name="timegap" id="timegap" value="{$timegap}">-->
                <div class="sDiv">
                    <!--<div class="sDiv2" style="margin-right: 10px;">
                        <input type="text" size="30" id="start_time" value="{$begin}" placeholder="起始时间" class="qsbox">
                        <input type="button" class="btn" value="起始时间">
                    </div>
                    <div class="sDiv2" style="margin-right: 10px;">
                        <input type="text" size="30" id="end_time" value="{$end}" placeholder="截止时间" class="qsbox">
                        <input type="button" class="btn" value="截止时间">
                    </div>-->
                    <input type="text" size="30" name="key_word" class="qsbox" placeholder="用户姓名/手机号码">
                    <input type="button" onclick="clickSearch(this,'search-form')" class="btn" value="搜索">
                </div>
            </form>

            <!--  <div class="tDiv2">
                  <div class="fbutton">
                      <a href="javascript:;" onclick="exportUser()">
                          <div class="add" title="导出设备编号">
                              <span><i class="fa fa-share"></i>导出设备编号</span>
                          </div>
                      </a>
                  </div>
              </div>-->
        </div>

        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 50px;" class="">ID</div>
                        </th>
                        <th align="center" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: center; width: 50px;" class="">姓名</div>
                        </th>
                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 100px;" class="">手机号</div>
                        </th>
                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 100px;" class="">微信号</div>
                        </th>
                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 100px;" class="">所属城市运营商</div>
                        </th>
                        <if condition="$admin_id == 1">
                            <th align="center" abbr="article_show" axis="col5" class="">
                                <div style="text-align: center; width: 180px;" class="">代理模式</div>
                            </th>
                        </if>
                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">默认模式分成比例</div>
                        </th>

                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">免费模式分成比例</div>
                        </th>
                        <th align="center" abbr="is_on_sale" axis="col6" class="">
                            <div style="text-align: center; width: 150px;" class="" onClick="sort('is_on_sale');">
                                是否设为城市运营商
                            </div>
                        </th>

                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 150px;" class="">身份证</div>
                        </th>

                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 150px;" class="">地区</div>
                        </th>

                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 50px;" class="">身份</div>
                        </th>

                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">申请时间</div>
                        </th>

                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 120px;" class="">审核时间</div>
                        </th>

                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 50px;" class="">管理员</div>
                        </th>

                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: center; width: 170px;" class="">操作</div>
                        </th>


                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <volist name="lists" id="list">
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 50px;">{$list.id}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 50px;">{$list.username}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">
                                    {$list.mobile}
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">
                                    {$list.wx_number}
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">
                                    {$list.city}
                                </div>
                            </td>
                            <if condition="$admin_id == 1">
                                <td align="center" class="">
                                    <div style="text-align: center; width: 180px;">
                                        <if condition="$list.mode_type == 1">
                                            <font style="color: #ff0000">免费模式</font>
                                            <else/>
                                            默认模式
                                        </if>
                                        <a class="btn red"
                                           onclick="get_agent_mode('{$list.id}','{$list.mode_type}',this)"
                                           href="javascript:;" data-url="{:U('Subcommission/get_agent_mode')}"
                                           data-id="88"><i class="fa fa-trash-o"></i>切换模式</a>
                                    </div>
                                </td>
                            </if>
                            <td align="center" class="">
                                <div style="text-align: center; width: 120px;color: #1fff8e">
                                    {$list.one_level}%
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 120px;color: #f00">
                                    {$list.one_level_free}%
                                </div>
                            </td>

                            <td align="center" axis="col0">
                                <div style="text-align: center; width: 150px;">
                                    <if condition='$list[is_on_sale] eq 1'>
                                <span class="yes"
                                      onClick="changeTableVal('lc_apply','id','{$list.id}','is_on_sale',this)"><i
                                        class="fa fa-check-circle"></i>是</span>
                                        <else/>
                                        <span class="no"
                                              onClick="changeTableVal('lc_apply','id','{$list.id}','is_on_sale',this)"><i
                                                class="fa fa-ban"></i>否</span>
                                    </if>
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 150px;">{$list.code_id}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 150px;">{$list.region}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 50px;">

                                    总代理

                                </div>
                            </td>

                            <td align="center" class="">
                                <div style="text-align: center; width: 120px;">{$list.create_time|date="Y-m-d
                                    H:i",###}
                                </div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 120px;">{$list.time|date="Y-m-d H:i",###}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 50px;">{$list.admin}</div>
                            </td>

                            <td align="center" class="handle">
                                <div style="text-align: center; width: 170px; max-width:170px;">
                                    <a href="{:U('Subcommission/agent_edit',array('id'=>$list.id))}" class="btn blue"><i
                                            class="fa fa-pencil-square-o"></i>修改</a>
                                    <a href="{:U('Subcommission/hotel_member_list',array('id'=>$list.user_id,'type'=>2))}"
                                       class="btn green"><i class="fa fa-list-alt"></i>拥有设备</a>
                                    <a href="{:U('Subcommission/hotel_list',array('id'=>$list.user_id))}"
                                       class="btn green"><i class="fa fa-list-alt"></i>所有酒店</a>
                                    <a href="{:U('Subcommission/distributor_list',array('id'=>$list.user_id))}"
                                       class="btn green"><i class="fa fa-list-alt"></i>所有分销商</a>
                                    <a href="{:U('User/account_log',array('id'=>$list.user_id))}" class="btn green"><i
                                            class="fa fa-list-alt"></i>分成记录列表</a>
                                    <a class="btn red" onclick="delfun(this)" href="javascript:;"
                                       data-url="{:U('Subcommission/agent_del')}" data-id="{$list['id']}"><i
                                            class="fa fa-trash-o"></i>删除</a>
                                </div>
                            </td>

                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>

            <div class="iDiv" style="display: none;"></div>
        </div>
        <!--分页位置-->
        {$page}
    </div>
</div>
<script>


    $(document).ready(function () {
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function () {
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function () {
            location.href = location.href;
        });
        // $('#start_time').layDate();
        // $('#end_time').layDate();
        laydate.render({
            theme: "molv",
            type: "datetime",
            elem: "#start_time"
        })
        laydate.render({
            theme: "molv",
            type: "datetime",
            elem: "#end_time"
        })
    });

    function exportUser() {
        var vals = $('#bank').val();
        var timegap = $('#timegap').val();
        $('#search-form').attr('action', "{:U('Subcommission/export_user')}?bank=" + vals + '&timegap=' + timegap)
        $('#search-form').submit();
    }

    function delfun(obj) {
        // 删除按钮
        layer.confirm('确认删除？同时会总代理所有的代理及酒店和设备哦', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                type: 'post',
                url: $(obj).attr('data-url'),
                data: {act: 'del', id: $(obj).attr('data-id')},
                dataType: 'json',
                success: function (data) {
                    layer.closeAll();
                    if (data) {
                        $(obj).parent().parent().parent().remove();
                    } else {
                        layer.alert('删除失败', {icon: 2});  //alert('删除失败');
                    }
                }
            })
        }, function () {
            layer.closeAll();
        });
    }

    function check_form() {
        var start_time = $.trim($('#start_time').val());
        var end_time = $.trim($('#end_time').val());
        if (start_time == '' ^ end_time == '') {
            layer.alert('请选择完整的时间间隔', {icon: 2});
            return false;
        }
        if (start_time !== '' && end_time !== '') {
            $('#timegap').val(start_time + "," + end_time);
        }
        if (start_time == '' && end_time == '') {
            $('#timegap').val('');
        }
        return true;
    }

    // 获取代理的模式页面
    function get_agent_mode(id, mode_type, obj) {
        var url = window.location.origin + $(obj).data('url');
        var data = {id: id, mode_type: mode_type};
        $.post(url, data, function (res) {
            // 在这里面输入任何合法的js语句
            layer.open({
                type: 1,                        //  Page层类型,
                area: ['320px', '240px'],
                title: '请选择您要切换的代理模式',
                shade: 0.6,                     //  遮罩透明度
                maxmin: true,                   //  允许全屏最小化
                anim: 1,                        //  0-6的动画形式，-1不开启
                content: '<div style="padding:20px 20px;">' + res + '</div>'
            });
        });
    }
</script>
</body>
</html>